[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "JulieDjidji.github.io"]
	path = JulieDjidji.github.io
	url = https://github.com/JulieDjidji/JulieDjidji.github.io.git
